<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">

    <title>Login</title>
  </head>
  <body>
    <nav class="navbar nabar-light bg-light justify-content-between">
		<a class ="inSeason-brand">inSeason</a>
		<button class="navbar-login" href="#">Login</a>
    </nav>
		<div id="logreg-forms">
			<form class = "form-signin">
				<h1 class= "h3 mb-3 font-weight-normal" style="text-align: center"> Sign in </h1>
				<div class = "social-login">
					<button class = "btn facebook-btn social-btn text-center" type="button"><span><i class = "fab fa-facebook-f"></i> Sign in with Facebook </span></button>
					<button class = "btn google-btn social-btn text-center" type="button" type="button"><span><i class ="fab fa-google"></i> Sign in with Google </span></button>
				</div>
				<p style = "text-align: center">OR</p>
				<input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
				<input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

				<button class="btn btn-success btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Sign in </button>
				<hr>

				<!--Needs Accounts-->
				<button class = "btn btn-primary btn-block" type = "button" id ="btn-signup"><i class="fas fa-user-plus"></i> Sign up with New Account</button>
			</form>

			<form action="/signup/" class="form-signup">
				<div class = "social-login" style="text-align: center">
					<button class="btn facebook-btn social-btn" type="button"><span><i class="fab fa-facebook-f"></i> Sign up with Facebook </span></button>
				</div>
				<div class ="social-login"style="text-align: center">
					<button class="btn google-btn social-btn" type="button"><span><i class= "fab fa-google"></i> Sign up with Google </span></button>
				</div>
			<p style="text-align:center">OR</p>
				<input type ="text" id="user-name" class="form-control" placeholder="Full name" required ="" autofocus="">
				<input type="email" id="user-email" class="form-control" placeholder="Email address" required autofocus="">
				<input type="password" id="user-pass" class="form-control" placeholder="Password" required autofocus="">
				<input type="password" id="user-repeatpass" class="form-control" placeholder = "Repeat Password" required autofocus="">

				<button class ="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Sign Up </button>
				<a href="#" id="cancel-signup"><i class="fas fa-angle-left"></i> Back </a> 
			</form>
			<br>
		</div>
		<p style="text-align:center"></p>


    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
	<script src="assets/js/script.js"></script>
  </body>
</html>
